<% content_for :admin_sidebar do %>
	<h2>Sections</h2>
	<ul>
		<li><%= link_to 'site settings', setting_path(1) %></li>
		<li><%= link_to 'scaffold name', 'path' %></li>
		<li>for example ...</li>
		<li><%= link_to 'pages', pages_path %></li>
	</ul>
<% end %>
