<% content_for :admin_sidebar do %>
	<h2>Sections</h2>
	<ul>
		<li><%= link_to 'site settings', setting_path(1) %></li>
		<li>other links go here</li>
	</ul>

	<p>Make your own if don't use the tkh_cms gem which has a fully populated, localized, example</p>
<% end %>
