<% content_for :admin_sidebar do %>
	<h2>Sections</h2>
	<ul>
		<li>links go here</li>
	</ul>
	
	<p>To override this, run "rake tkh_admin_panel:setup" and customize the new partial to your liking.</p>
<% end %>