body {
  margin-top: 45px;
  // @include hyphens;
}

textarea {
  width: 450px;
}

h1, h2 {
  text-align: center;
}

h2 {
  &:first-of-type { margin-top: 0; }
}

td {
  font-size: 1.25rem;
}

form {
  margin: 2em .5em;
}

label {
  display: block;
}

input[type="button"], input[type="submit"] {
  width: auto;
}
// input, textarea { width: auto; }
// // .textarea-test { width: auto; height: auto; }

.form-group { margin: 0 0 3rem; }
.form-control {
  width: auto;
  height: auto;
}

.help-block { color: #999; }

// .form-horizontal input + .help-block, .form-horizontal select + .help-block, .form-horizontal textarea + .help-block, .form-horizontal .uneditable-input + .help-block, .form-horizontal .input-prepend + .help-block, .form-horizontal .input-append + .help-block {
//   margin-top: 3px;
// }

.navbar {
  font-family: opensanscondlight, $font-family-sans-serif;
  font-size: 18px;
}

#admin-logo {
  margin: 1.5rem 0 0;
}

.navbar-login-info { padding-right: 1.5em; }

.nav li.active a {
  background-color: $purple;
  color: #fff;
  a {
    color: #fff;
    font-family: opensanssemibold, $font-family-sans-serif;
  }
}

.list-group {
  h3 {
  color: darken(#fff, 25%);
  font-size: 1.75em;
  }
}
.list-group-item {
  font-size: 0.9em;
  padding: 5px 7px;
}
a.list-group-item { color: $orange; }

footer {
  margin: 2em 1em .5em;
  text-align: center;
}

.glyphicon-ok { color: $brand-success; }
.glyphicon-remove { color: $brand-danger; }

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
margin-bottom: 0;
}
.tt-hint {
display: block;
width: 100%;
height: 38px;
padding: 8px 12px;
font-size: 14px;
line-height: 1.428571429;
color: transparent; // This may render this whole section moot!?
vertical-align: middle;
background-color: #ffffff;
border: 1px solid #cccccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
  color: #dd4814;
min-width: 160px;
margin-top: 2px;
padding: 5px 0;
background-color: #ffffff;
border: 1px solid #cccccc;
border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
background-clip: padding-box;

}
.tt-suggestion {
display: block;
padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
color: #fff;
background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
color: #fff;
}
.tt-suggestion p {
margin: 0;
}

.pagination {
  display: block;
  padding: 0.2em;
  text-align: center;
  margin: 1.5rem 0;
  a { padding: 0 0.15em; }
  .current { font-style: normal; }
  .previous_page {
    padding-right: 1.5em;
  }
  .next_page {
    padding-left: 1.5em;
  }
}

.thumbnail-gallery {
  // Where we assign random pics to specific records
  li {
    display: inline;
    float: left;
    margin: 0.5em;
  }
}

.draggable {
  list-style-type: none;
  margin: 2rem 0 2rem 1rem;
  li {
    cursor: move;
    margin: 0.5rem 0;
  }
}

.comment-body {
  // fix this for Chrome. It work in FF
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#search-form {
  margin-bottom: 5em;
  text-align: center;
}

.inline-form { display: inline; }

// boostrap 3 and simple_form don't play too well together yet
.alert-error {
  @extend .alert-danger;
}
.help-inline {
  @extend .label;
  @extend .label-danger;
  margin: 1em;
}

.admin-comment-body {
  font-size: 2.5rem;
}

.badge {
  font-family: opensanslight, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}


#admin-menu-tab {
  margin-bottom: 3em;
}

.nav-tabs > li > a {
    border-radius: 12px 12px 0 0;
  }
