@import 'bootstrap_and_overrides.css.scss';
@import 'bootstrap-wysihtml5';

footer {
	margin: 2em 1em .5em;
	text-align: center;
}

input, textarea {
	width: 450px;
}

.login-info {
	margin: 1em;
	text-align: left;
}

form {
	margin: 2em .5em;
}

.form-horizontal .help-block {
	color: #999;
	margin-top: 1px;
}